altgraph==0.16.1
certifi==2018.11.29
chardet==3.0.4
cx-Oracle==7.0.0
Django==2.1.5
docopt==0.6.2
et-xmlfile==1.0.1
future==0.17.1
idna==2.8
jdcal==1.4
macholib==1.11
mysqlclient==1.4.1
openpyxl==2.5.12
pefile==2018.8.8
pipreqs==0.4.9
PyInstaller==3.4
pymssql==2.1.4
PyMySQL==0.9.3
pytz==2018.9
requests==2.21.0
urllib3==1.24.1
yarg==0.1.9